:root {
    --bg-main: #0b0b0a;
    --bg-panel: #151515;
    --border-color: #151515;
    --text-primary: #eeeeee;
    --text-secondary: #909090;
    --text-muted: #585858;
    --accent-gold: #c5a47e;
    --accent-red: #7d0f0f;
    --accent-green: #1a6d3a;
    --progress-bar-bg: #7a7a7a;
    --border-dark: #27272a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-main);
    color: var(--text-primary);
    overflow: hidden;
}

img {
    max-width: 100%;
    /*display: block;*/
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
    color: inherit;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #3a3a3a;

}
